<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class=" bg-primary text-white p-3">
        {{getName()}} To Do List
      </h3>
      <div class="input-group">
        <input type="text" #toDoText class="form-control">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="addItem(toDoText.value); toDoText.value =''">Add</button>
        </div>
      </div>

      <div class="custom-control custom-checkbox my-2">
        <input id="displayAll" class=" custom-control-input" type="checkbox" [(ngModel)]="isDisblay">
        <label class=" custom-control-label" for="displayAll">Display</label>
      </div>

      <table class="table table-striped table-bordered text-center mt-3">
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Action</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of getItems(); let i = index">
            <td>{{i+1}}</td>
            <td>{{item.description}}</td>
            <td>
               <input type="checkbox" class="form-control" [(ngModel)]="item.result">
            </td>
            <td [ngSwitch]="item.result">
              <span *ngSwitchCase="true">
                <i class="text-success fa-solid fa-circle-check"></i>
              </span>
              <span *ngSwitchCase="false">
                <i class="text-warning fa-solid fa-circle-pause"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>










