
<movie-detail [movie] = "selectedMovie" ></movie-detail>

<div class="card">
  <div class="card-header bg-success font-weight-bold text-white">
    {{getTitle()}}
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">

      <li class="list-group-item" (click)="onSelect(movie)"
      *ngFor="let movie of movies"
      [class.active]="movie == selectedMovie"
      >
          <span class=" badge badge-success">{{movie.id}}</span>
         {{" - " + movie.name}}
         <span class="close">x</span>
      </li>

    </ul>
  </div>
</div>
<movie></movie>
<movie></movie>
